body, html {
    overflow: hidden !important;
    background: #123fff;
}
section {
    /*background: #fafafa;*/
    background-image: url("../img/bg.png");
    background-repeat: repeat;
    margin: 9px 13px 13px 13px;
    padding: 9px;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 2px 3px #424242;
}
/*Arrow at the top*/
section::after, section::before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
}
section::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #eeeeee;
    top: -9px;
    left: calc(50% - 10px);
}

.emoji-container {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    position: relative;
    overflow:hidden;
    cursor:pointer;
}